<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Leitor de PDF</title>
</head>
<body>
  <h1>Enviar PDF</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="pdf_file" accept=".pdf" required>
    <button type="submit">Enviar</button>
  </form>

  {% if arquivos_gerados %}
    <h2>Download das Planilhas:</h2>
    <ul>
        <li><a href="/static/planilhas/dados_fgts.xlsx" download>Download FGTS</a></li>
        <li><a href="/static/planilhas/dados_inss.xlsx" download>Download INSS</a></li>
        <li><a href="/static/planilhas/dados_vinculo.xlsx" download>Download Vínculo</a></li>
    </ul>
  {% endif %}
</body>
</html>
