<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de PDFs</title>
    <link rel="stylesheet" href="static/css/style.css"> <!-- Caminho para o CSS -->
</head>
<body>
    <h1>Carregar Arquivos PDF</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="pdf1">FGTS</label>
        <input type="file" name="pdf1" multiple required><br><br>

        <label for="pdf2">INSS</label>
        <input type="file" name="pdf2" multiple required><br><br>
        
        <input type="submit" value="Extrair Dados">
    </form>
</body>
</html>
